includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/opscale-co/strict-rules/rules.smells.neon
    - vendor/opscale-co/strict-rules/rules.solid.neon
parameters:
    level: 9
    phpVersion: 80200
    paths:
        - src
        - tests
    excludePaths:
        - tests/fixtures/*
    ignoreErrors:
        # Pest binds $this to the configured TestCase at runtime, but PHPStan
        # sees PHPUnit's TestCase and can't resolve Orchestra Testbench properties.
        -
            message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$app#'
            path: tests/*
